body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    padding-top: 50px;
}
.half-width{
    width: 50%;
    margin-left: 3%;
    
}
.half-width img{
    width: 100%;
}
.first-heading{
    font-size: 3em;
    color: #4b4b4b;
    font-weight: 900;
}
.para1 {
    color: gray;
    margin-bottom: 50px;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FE482E, #FC8F49);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}
.center{
    margin-top: 200px;
    margin-bottom: 150px;
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.para2{
    padding-right: 200px;
    text-align: justify;
    margin-bottom: 50px;
}
.text-center{
    text-align: center;
    padding-top: 50px;
}
.recipe-item{
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.box{
    width: 100%;
    border-radius: 10px;
    height: 320px;
}
.gray{
    color: gray;
}
.footer-bg{
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}
.footer-bg p{
    color: white;
}
